<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="iiwa_gazebo" params="runtime_config_package controllers_file namespace prefix">

    <!-- ros_control plugin -->
  <gazebo>
  <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
    <ros>
      <namespace>/iiwa</namespace> </ros>
    
    <robot_param_node>robot_state_publisher</robot_param_node>
    
    <parameters>$(find ${runtime_config_package})/config/${controllers_file}</parameters>
  </plugin>
</gazebo>

    <!-- color -->
    <gazebo reference="${prefix}link_7">
      <material>Gazebo/Gray</material>
    </gazebo>
    
     <gazebo>
      <plugin filename="libignition-gazebo-detachable-joint-system.so"
              name="ignition::gazebo::systems::DetachableJoint">
        <parent_link>${prefix}vacuum_gripper_link</parent_link>
        <child_model>package</child_model>
        <child_link>package_link</child_link>
        <output_topic>/gripper/state</output_topic>
        <detach_topic>/gripper/detach</detach_topic>
        <attach_topic>/gripper/attach</attach_topic>
      </plugin>
    </gazebo>

  </xacro:macro>
</robot>
